/* Chat Input */
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 25px;
    position: relative;
  }
  
  .buttonContainer {
    display: flex;
    align-items: center;
  }
  
  .emojiIcon {
    font-size: 25px;
    color: #555;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .emojiPicker {
    position: absolute;
    bottom: 60px; /* Position picker above the input */
    left: 20px;
    z-index: 1;
  }
  
  .inputContainer {
    display: flex;
    width: 80%;
  }
  
  .innerInput {
    width: 90%;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
    background-color: #fff;
    transition: border-color 0.3s ease;
  }
  
  .innerInput:focus {
    border-color: #4CAF50;
  }
  
  .submit {
    background-color: #4CAF50;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .submit:hover {
    background-color: #45a049;
  }
  
  .submit svg {
    color: white;
    font-size: 20px;
  }
  